<div class="hot">
    <div class="hot-warp">
        <div class="hot-banner">
            <div class="hot-box">
                <div class="hot-logo">
                </div>
                <div class="hot-update">更新时间: <span>10月18日</span></div>
            </div>

        </div>
        <div class="hot-recommend__music">
            <a class="music-item" href="">
                <div class="warp">
                    <div class="ranking">01</div>
                    <div class="music-message">
                        <p class="title">
                            从无到有
                            <span>(电视d asasdadasd)</span>
                        </p>
                        <p class="singer">
                            <i>A</i>
                            毛不易-从无到有
                        </p>
                    </div>
                    <div class="palyer">
                        <p></p>
                    </div>
                </div>
            </a>
            <a class="music-item" href="">
                <div class="warp">
                    <div class="ranking">01</div>
                    <div class="music-message">
                        <p class="title">
                            从无到有
                            <span>(电视d asasdadasd)</span>
                        </p>
                        <p class="singer">
                            <i>A</i>
                            毛不易-从无到有
                        </p>
                    </div>
                    <div class="palyer">
                        <p></p>
                    </div>
                </div>
            </a>
            <a class="music-item" href="">
                <div class="warp">
                    <div class="ranking">01</div>
                    <div class="music-message">
                        <p class="title">
                            从无到有
                            <span>(电视d asasdadasd)</span>
                        </p>
                        <p class="singer">
                            <i>A</i>
                            毛不易-从无到有
                        </p>
                    </div>
                    <div class="palyer">
                        <p></p>
                    </div>
                </div>
            </a><a class="music-item" href="">
                <div class="warp">
                    <div class="ranking">01</div>
                    <div class="music-message">
                        <p class="title">
                            从无到有
                            <span>(电视d asasdadasd)</span>
                        </p>
                        <p class="singer">
                            <i>A</i>
                            毛不易-从无到有
                        </p>
                    </div>
                    <div class="palyer">
                        <p></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="lookmore">查看完整榜单</div>
     
    </div>
</div>

