<div class="search">
    <!-- 搜索框 -->
    <div class="search-content">
        <div class="search-content__box">
            <p></p>
            <form action="">
                <input type="text" name="search" id="input-search"  placeholder="搜索歌曲，歌手，专辑">
            </form>
            <P class="reset"></P>
        </div>
    </div> 
    
    <!-- 热门搜索 -->
    <div class="search-hot">
        <p>热门搜索</p>
        <ul class="search-hot__list">

        </ul>
    </div>
    <!-- 搜索历史记录 -->
    <div class="search-history">

    </div>
    <!-- 搜索相关 -->
    <div class="search-relevant">
        <p>搜索"you"</p>
        <div class="search-relevant__list">东西 </div>
        <div class="search-relevant__list">盗将行 </div>
        <div class="search-relevant__list">地铁等待 </div>
    </div>
    <!-- 搜索结果 -->
    <div class="search-result">
        <div class="search-result__best">
            <div class="search-result__text">最佳匹配</div>
            <div class="search-result__album">
                <img src="http://p3.music.126.net/fdh0myRe6FD87QNJtvGe_A==/109951163054654501.webp?imageView&thumbnail=100x0&quality=75&tostatic=0&type=webp" alt="">
                <p>专辑:  reputation</p>
                <span>Taylor Awift</span>
            </div>
            <div class="search-result__singer">
                <img src="http://p1.music.126.net/lQgY9bF4ZRCK-h5goGxmCg==/109951163245154611.webp?imageView&thumbnail=100x0&quality=75&tostatic=0&type=webp" alt="">
                <p>歌手:  (泰勒·斯威夫特)</p>
            </div>
            <div class="search-result__mv">
                <img src="http://p1.music.126.net/Esho8nKJs7qptmDTDH5Bog==/7974757838337319.webp?imageView&thumbnail=178x0&quality=75&tostatic=0&type=webp" alt="">
                <p>MV:  What Do You Mean</p>
                <span>Justin Bieber</span>
            </div>
        </div>
        <div class="search-result__list">
            <div class="search-result__item">
                <p>Love Story</p>
                <span class="sq"></span>
                <span>Taylor Swift - Fearless</span>
            </div>
            <div class="search-result__item">
                <p>Love Story</p>
                <span>Taylor Swift - Fearless</span>
            </div>
            <div class="search-result__item">
                <p>Love Story</p>
                <span>Taylor Swift - Fearless</span>
            </div>
        </div>
    </div>
    <div class="load">
        <div class="loading">
            <p class="load-animation"></p>
            <p>正在加载...</p>
        </div>
    </div>
</div>